html{
    background-color: blueviolet;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0 auto;
    background-color: aliceblue;
    text-align: center;
}

h3 {
    margin-top: 10pxS;
    background-color: aliceblue;
    text-align: center;
}

#text {
    margin: 0 auto;
    background-color: aliceblue;
}