#container {
    background-color: rgb(16, 44, 70);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 100px;
    grid-auto-rows: auto;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

#center {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container-elden {
    background-color: rgb(54, 54, 54);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 100px;
    grid-auto-rows: auto;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

#container-florence {
    background-color: rgb(160, 160, 160);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 100px;
    grid-auto-rows: auto;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;

}

#container-spider {
    background-color: rgb(139, 34, 34);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 100px;
    grid-auto-rows: auto;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;

}

#container-try {
    background-color: rgb(159,134,218);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 100px;
    grid-auto-rows: auto;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;

}

img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
}

h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#image {
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    width: 200px;
    height: 200px;
}

#image-try {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(37,192,231);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    width: 200px;
    height: 200px;
}

#derive {
    display: block;
    border-radius: 10px 10px 10px 10px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    width: 200px;
    height: 200px;
}

#derive h1 {
    color: black;
}

#derive:hover {
    background-color: rgb(156, 181, 202);
}

#title {
    padding-top: 20px;
    background-color: aqua;
    border-radius: 10px 10px 10px 10px;
    width: 199px;
    height: 180px;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

#title-florence {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(207, 129, 11);
    display: inline-block;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 200px;
}

#title-try {
    padding-top: 20px;
    background-color: rgb(63,188,134);
    border-radius: 10px 10px 10px 10px;
    width: 199px;
    height: 180px;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

p {
    text-align: center;
    color: black;
    font-family: sans-serif;
}

#title-elden {
    background-color: rgb(223, 166, 61);
    border-radius: 10px 10px 10px 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
    width: 200px;
    height: 200px;
}

#title-spider {
    padding-top: 30px;
    background-color: rgb(9, 56, 185);
    border-radius: 10px 10px 10px 10px;
    width: 199px;
    height: 170px;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

#text {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(156, 26, 106);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    width: 200px;
    height: 200px;
}

#text-try {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(239,180,195);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
    width: 200px;
    height: 200px;
}

#text-elden {
    padding-top: 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    width: 199px;
    height: 170px;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}

#text-florence { 
    padding-top: 40px;
    background-color: rgb(63, 114, 209);
    border-radius: 10px 10px 10px 10px;
    width: 199px;
    height: 160px;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
} 

#text-spider {
    padding-top: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    width: 199px;
    height: 160px;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}


